@font-face {
    font-family: 'Jaini-other';
    src: url(/fonts/jaini-other.woff2);
}

@font-face {
    font-family: 'kelly';
    src: url(/fonts/kelly.woff2);
}

@font-face {
    font-family: 'lux';
    src: url(/fonts/lux.woff2);
}

body {
    margin: 0;
    background-color: beige;
    height: 100%;
}

.index-b {
    display: flex;
    flex-flow: column wrap;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    border-bottom: rgb(255, 255, 255, 0.5) 1px solid;
    padding-bottom: 0;
    font-size: 1.2rem;
    color: white;
}

section.main-p {
    align-self: center;
    background-color: burlywood;
    max-width: 20vw;
    padding: 10rem;
}

.cert-nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 2rem;
    background-color: darkslategrey;
    padding-left: 0;
    padding-right: 0;
}

.cert-b {
    align-content: normal;
    justify-items: space-around;
}

body.main-p {
    align-content: center;
    justify-items: center;
}

#csdevin2025 {
    background-image: url(images/cs-back.svg);
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: larger;
    font-family: 'Jaini-other';
}

#csdevin2025 img {
    justify-content: flex-end
}
.certification {
    text-align: center;
}

.get-cert {
    text-align: center;
}

.cert-text {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h1 {
    font-size: 64px;
}
p {
    max-width: 30vw;
}
h3 {
    margin-top: 20vh
}

h2.line {
    border-bottom: 3px black solid;
    margin-top: 5vh;
    color:chartreuse; 
    padding-bottom: .5rem;
}

ul {
    list-style-type: none;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
#astronaut {
    background-image: url(/images/astronaut.svg);
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: larger;
    font-family: 'kelly';
}

.nasalogo {
    position: absolute;
    bottom: 0
}

#Henchman {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: honeydew;
    font-size: 24px;
    background-color: purple;
    font-family: 'lux';
}

#Henchman h1.name {
    color: red;
    font-size: 80px;
}

.villainy {
    display: flex;
    align-items: flex-end;
}

@media print {
    nav.cert-nav {
        display: none;
    }
    h3 {
        margin-top: 1vh
    }
    h2 {
        width: 100%;
    }
    h1.name {
        margin-top: 2vh;
        margin-bottom: 2vh
    }
    .earth-svg {
        width: 30vw;
        object-fit: contain;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .home {
        top: 0
    }
}

.home {
    position:absolute;
    top: 10vh;
    right: 0;
}